<section id="about" class="about">
    <div class="container about__el">
        <div class="about__el--first">
            <h2 class="title">
                Our
                <span class="title__el">History</span>
            </h2>
            <p class="about__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta blanditiis animi
                odio est natus aliquid voluptate laudantium. Repellat, dicta in ea maiores expedita
                adipisci deserunt. Porro iusto, necessitatibus odio iste deleniti atque natus
                laborum quae, consectetur culpa enim eum ipsa earum illo dolores voluptatibus? Ipsam
                ipsa quibusdam reiciendis cumque maiores in ab quos, optio delectus quidem.
                Accusamus minus et itaque.
            </p>
            <ul class="about__list">
                <li class="about__item">
                    <p class="about__descrip">
                        <span class="about__number">93</span>
                        Drinks
                    </p>
                </li>
                <li class="about__item">
                    <p class="about__descrip">
                        <span class="about__number">206</span>
                        Food
                    </p>
                </li>
                <li class="abouty__item">
                    <p class="about__descrip">
                        <span class="about__number">71</span>
                        Appetizer
                    </p>
                </li>
            </ul>
        </div>
        <ul class="history__list">
            <li class="history__item history__item1">
                <picture>
                    <source
                        media="(min-width:1080px)"
                        srcset="
                            ./img/slide/first-slide-desk.jpg,
                            ./img/slide/first-slide-desk@2x.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:1080px)"
                        srcset="
                            ./img/slide/first-slide-desk.webp,
                            ./img/slide/first-slide-desk@2x.webp 2x
                        "
                        type="image/webp"
                    />

                    <source
                        media="(min-width:280px)"
                        srcset="
                            ./img/slide/first-slide-mob.jpg,
                            ./img/slide/first-slide-mob@2x.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:280px)"
                        srcset="
                            ./img/slide/first-slide-mob.webp,
                            ./img/slide/first-slide-mob@2x.webp 2x
                        "
                        type="image/webp"
                    />

                    <img
                        src="#"
                        alt="interior of the restaurant,
            photos of tables on the background of windows with flower pots"
                    />
                </picture>
            </li>
            <li class="history__item history__item2">
                <picture>
                    <source
                        media="(min-width:1080px)"
                        srcset="
                            ./img/slide/slide-two-desk.jpg,
                            ./img/slide/slide-two-desk@2x.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:1080px)"
                        srcset="
                            ./img/slide/slide-two-desk.webp,
                            ./img/slide/slide-two-desk@2x.webp 2x
                        "
                        type="image/webp"
                    />

                    <source
                        media="(min-width:280px)"
                        srcset="./img/slide/slide-two-mob.jpg, ./img/slide/slide-two-mob@2x.jpg 2x"
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:280px)"
                        srcset="
                            ./img/slide/slide-two-desk.webp,
                            ./img/slide/slide-two-mob@2x.webp 2x
                        "
                        type="image/webp"
                    />

                    <img src="#" alt="photo of a piece of green cake" />
                </picture>
            </li>
            <li class="history__item history__item3">
                <picture>
                    <source
                        media="(min-width:1080px)"
                        srcset="
                            ./img/slide/slide-three-desk.jpg,
                            ./img/slide/slide-three-desk@2x.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:1080px)"
                        srcset="
                            ./img/slide/slide-two-desk.webp,
                            ./img/slide/slide-two-mob@2x.webp 2x
                        "
                        type="image/webp"
                    />

                    <source
                        media="(min-width:280px)"
                        srcset="
                            ./img/slide/slide-three-mob.jpg,
                            ./img/slide/slide-three-mob@2x.jpg 2x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:280px)"
                        srcset="
                            ./img/slide/slide-three-desk.webp,
                            ./img/slide/slide-three-mob@2x.webp 2x
                        "
                        type="image/webp"
                    />

                    <img
                        src="#"
                        alt="interior of the restaurant,
            photos of tables on the background of windows with flower pots"
                    />
                </picture>
            </li>
        </ul>
    </div>
</section>
