<section class="gallery">
  <div class="container">
    <h2 class="title">A gallery <span class="title__el">of dishes</span></h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <picture>
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/wine-desk.jpg,
                ../img/foodGallery/wine-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/wine-desk.webp,
                ../img/foodGallery/wine-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/wine-mob.jpg,
                ../img/foodGallery/wine-mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/wine-mob.webp,
                ../img/foodGallery/wine-mob@2x.webp 2x
              "
              type="image/webp"
            />

            <img src="#" alt="photo glass" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <picture>
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/coffee-desk.jpg,
                ../img/foodGallery/coffee-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/coffee-desk.webp,
                ../img/foodGallery/coffee-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/coffee-mob.jpg,
                ../img/foodGallery/coffee-mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/coffee-mob.webp,
                ../img/foodGallery/coffee-mob@2x.webp 2x
              "
              type="image/webp"
            />

            <img src="#" alt="photo coffe" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <picture>
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/goulash-desk.jpg,
                ../img/foodGallery/goulash-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/goulash-desk.webp,
                ../img/foodGallery/goulash-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/goulash-mob.jpg,
                ../img/foodGallery/goulash-mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/goulash-mob.webp,
                ../img/foodGallery/goulash-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <img src="#" alt="photo goulash" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <picture>
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/coffee-desk.jpg,
                ../img/foodGallery/coffee-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/coffee-desk.webp,
                ../img/foodGallery/coffee-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/coffee-mob.jpg,
                ../img/foodGallery/coffee-mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/coffee-mob.webp,
                ../img/foodGallery/coffee-mob@2x.webp 2x
              "
              type="image/webp"
            />

            <img src="#" alt="photo coffe" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <picture>
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/goulash-desk.jpg,
                ../img/foodGallery/goulash-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/goulash-desk.webp,
                ../img/foodGallery/goulash-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/goulash-mob.jpg,
                ../img/foodGallery/goulash-mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/goulash-mob.webp,
                ../img/foodGallery/goulash-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <img src="#" alt="photo goulash" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <picture>
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/wine-desk.jpg,
                ../img/foodGallery/wine-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:1080px)"
              srcset="
                ../img/foodGallery/wine-desk.webp,
                ../img/foodGallery/wine-desk@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/wine-mob.jpg,
                ../img/foodGallery/wine-mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width:280px)"
              srcset="
                ../img/foodGallery/wine-mob.webp,
                ../img/foodGallery/wine-mob@2x.webp 2x
              "
              type="image/webp"
            />

            <img src="#" alt="photo glass" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
